.container {
    padding: 16px;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
}

.uploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap:20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input {
    display: none;
}

.videoPreview {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.videoPreviewPlaceholder {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
}
